
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|Literata&display=swap');

body {
font-family: Arial,Helvetica,sans-serif;
} 

h1 { font-family: 'DM Serif Display', serif;}

h1 small { 
font-family: Arial, Helvetica, sans-serif
font-variant-caps: all-small-caps
opacity: .5;
}
h2 { font-family: 'Literata', serif;} 
h3 { font-family: 'Literata', serif;}
